@charset "UTF-8";
h2  {
	font-size: 8vw;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}


#lor {
	margin: 0px 10vw;
	position: absolute;
	top: 50vh;
}
#hof {
	margin: 0px 70vw;
	text-align: right;
	position: absolute;
	top: 50vh;
}

.side {
	height: 100vh;
	width: 100%;
	
	position: absolute;
}

#left-side {
	background-color: coral;
	z-index: 2;
	transition: width 2s cubic-bezier(0.76, 0, 0.24, 1);
}

#right-side {
	background-color: aquamarine;
}