@charset "UTF-8";
h2  {
	font-size: 8vw;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}


#lor {
	margin: 0px 15vw;
	position: absolute;
	top: 40vh;
	text-align: center;
}
#hof {
	margin: 0px 60vw;
	text-align: center;
	position: absolute;
	top: 40vh;
}

.side {
	height: 100vh;
	width: 100%;
	
	position: absolute;
}

#left-side {
	background-color: coral;
	z-index: 2;
	transition: width 1s cubic-bezier(0.76, 0, 0.24, 1);
}

#right-side {
	background-color: aquamarine;
}