@charset "UTF-8";
h2  {
	font-size: 10vh;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}


#lor {
    text-align: center;
	margin-top: 30vh;
}
#hof {
    text-align: center;
	margin-bottom: 30vh;
}

.side {
	height: 100vh;
	width: 100%;
	
	position: absolute;
}

.text {
	background-color: transparent;
	height: 100vh;
	width: 100%;
	
	position: absolute;
	display: grid;
	place-items: center;
	z-index: 3;
}

.title {
	transition: all 500ms ease-in-out;
}

#left-side {
	background-color: coral;
	z-index: 2;
	transition: width 1s cubic-bezier(0.76, 0, 0.24, 1);
}

#right-side {
	background-color: aquamarine;
}
